@import '_vars';
@import '_global';
@import '_fonts';
*{
   margin: 0;
   padding: 0;
}
html{

   box-sizing:border-box;
   // overflow-x: hidden !important;
  
}
*,
*::before,
*::after{
   box-sizing:inherit;
}
.title{
   font-family: 'Kaushan Script', cursive;
   font-size: 24px;
   margin-bottom: 24px;
   font-weight: 400;
   color: #333333;
   text-align: center;
}
.subtitle{ 
   font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      color: #333333;
      padding-bottom: 45px;
      position: relative;
      text-transform: uppercase;
      text-align: center;
      &::after{
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 3px;
         width: 60px;
         background-color: #f38181;
      }
}
.description{
      max-width: 965px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #999;
      margin: 0 auto;
      margin-top: 45px;   
}

.menu img {
   width: 19px;
   height: 15px;
}
.header{
   max-width:100% ;
   margin: 0 auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 1900px;
   height: 1000px;
   padding-top: 29px;
}
.container{
   width: 1200px;
   margin: 0px auto;
   
}
.top-header{
   display: flex;
   justify-content: space-between;
   margin-bottom: 162px;
}
.logo{
   
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 89px;
   height: 23px;

}

.menu{
   display: flex;
   list-style: none; 
   a{
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 12px;
      text-transform: uppercase;
      position: relative;
   }
  
   a:hover{
      color:  #fce38a; 
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 3px;
         background-color: #fce38a;
         bottom: -12px;
         left: 50%;
         transform: translate(-50%, -50%);
   
      }
   }
  
}
.menu li+li{
   margin-left: 55px;
}
.welcome-box{
   text-align: center;
   color: #fff;
   padding-bottom: 62px;
   
   &__title{
      
      font-size: 72px;
      font-weight: 400;
      font-family: 'Kaushan Script', cursive;
      margin-bottom: 17px;
      font-style: italic;
   }
   h1{
      font-family: 'Montserrat', sans-serif;
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 870px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 92px;
      &::after{
         content: '';
         position: absolute;
         width: 60px;
         height: 3px;
         background-color: #fff;
         bottom: -46px;
         left: 50%;
         transform: translate(-50%,-50%);
         
      }
      
   }
   &__btn{
      border: 3px solid #fff;
      max-width: 160px;
      padding: 12px 19px 12px 19px; 
      margin: 0 auto;
       margin-bottom: 60px;
      &:hover {
         border: 3px solid #f38181;
         a{
            color: #f38181;
         }
      }
      
      a{
         font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      font-size: 14px;
      }
   }

}
.header__slider{
   display: flex;
   justify-content: space-between;
   &-box{
      width: 23%;
      
   }
}
.line{
   width: 100%;
   height: 3px;
   background-color: #fff;
   margin-bottom: 24px;
   position: relative;
   opacity: 0.502;
}
.text{
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   color: #fff;
}
.text span{
   font-size: 24px;
   font-weight: 700;
}

.line-active::after {   
   content: '';
   position: absolute;
   width: 70px;
   height: 3px;
   background-color: #f38181;
   opacity: 1; 
}
.line-active{
   opacity: 1;
}
//start about
.about{
   max-width: 100%;
   margin: 0 auto;
   text-align: center;
   padding-top: 90px;
   background-color: #fff;
   color: #333333;
   &__title{
      font-family: 'Kaushan Script', cursive;
      font-size: 24px;
      margin-bottom: 24px;
      font-weight: 400;
   }
   &__subtitle{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 90px;
      
   }
   &__text{
      margin-bottom: 100px; 
      margin-top: 45px;

   }
}
.about__box-gallery{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 110px;
}
.about_pic-bg {
  width: 380px;
   height: 250px;
   background-color: #95e1d3;
   
}
.about_pic1,
.about_pic2,
.about_pic3 {
   width: 100%;
   height: 100%;
}
.about_pic1:hover,
.about_pic2:hover,
.about_pic3:hover{
   position: relative;
   right: 10px;
   bottom: 10px;
}
.about_pic1:before,
.about_pic2:before,
.about_pic3:before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 380px;
 height: 250px;
 background-color: #dc8175;
  background-color: #95e1d3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81)));
  background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
    z-index: 2;
    visibility:hidden;

}

.about_pic1:hover::before,
.about_pic2:hover::before,
.about_pic3:hover::before{
   visibility: visible;
   opacity: 0.8;
}
.about_pic1 span,
.about_pic2 span,
.about_pic3 span{
   position: relative;
   top: 128px;
   left: 0;
   z-index: 3;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   color: #fff;
   font-weight: 700;
   background-image: url(../images/icons/people.svg);
   background-repeat: no-repeat;
   background-position: 45px 11px;
   padding: 40px 0;
   visibility: hidden;
}
.about_pic1 span::before,
.about_pic2 span::before,
.about_pic3 span::before{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  color: #fff;
}
.about_pic1:hover span,
.about_pic2:hover span,
.about_pic3:hover span{
   visibility: visible;
}

.about__count{
   background-color: #95e1d3;
   max-width: 100%;
   margin-bottom: 108px;

}
.about__count-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-left: 1px solid #b5eae0;
   border-right: 1px solid #b5eae0;
   color: #fff;

}

.about__count-box{
   max-width: 20%;
   width: 100%;
   height: 100%;
   padding-top:20px;
   & + & {
      border-left: 1px solid #b5eae0;
   }
}
.number{
   font-family: 'Montserrat', sans-serif;
   font-size: 72px;
   font-weight: 700;
   color: #fff;
   padding-bottom: 6px;
   margin-top: 80px;
}
.desc{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 80px;
}

//end about

//  start amazing
.amazings{
   padding-bottom: 100px;
}

.amazing__items{
   display: flex;
   justify-content: space-between;
   margin-top: 60px;

}
.amazing__item{
   display: flex;
   max-width: 32%;
   width: 100%;
   text-align: left;
   
}
.amazing__title{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #333333;
   text-transform: uppercase;
   padding-bottom: 20px;
  
   
}
.amazing__desc{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #999999;
   margin-bottom: 50px;
}
.amazing__line{
width: 100%;
border: 1px solid #e5e5e5;
margin-bottom: 50px;
}
.amazing__img{
   width: 84px;
    height: 34px;
    position: relative;
    background-repeat: no-repeat; 
}
.amazing__img::before{
   content: "";
   position: absolute; 
   
}
.foto{
   background-image: url(../images/icons/alarm.svg);
   background-position: 0 0;
}
.web{
    background-image: url(../images/icons/design.svg);
   background-position: 0 0;
}
.creative{
   background-image: url(../images/icons/creativ.svg);
  background-position: 0 0;
}
.seo{
   background-image: url(../images/icons/book.svg);
  background-position: 0 0;
}
.css{
   background-image: url(../images/icons/home.svg);
  background-position: 0 0;
}
.digital{
   background-image: url(../images/icons/digital.svg);
  background-position: 0 0;
}
// end amazings section

// start design section 

.design{
   padding-top: 100px;
   max-width: 100%;
   height:100%;
   margin: 0 auto;
   background-image: url(../images/design-bg.jpg);
   margin-bottom: 42px;  
}

.design__img{
   position: relative;  
}
.big__img{
   margin: 0 auto;
   width: 555px;
   height: 593px;
   top: -44px;
   left: -48px;
   opacity: 9;
   overflow: hidden;
}
.small__img{
   position: absolute;
   bottom: -114px;
    right: 163px;
   min-width: 150px;
   max-width: 305px;
   width: 23%;
   height: auto; 
   z-index:10;
}

// end design section

// start section service 

.service{
   padding-top: 108px;
   padding-bottom: 123px;
}
.service__wrapper{
   display: flex;
   justify-content: space-around;
   margin-top: 90px;
}
.service__description{
    margin-top: 45px;
}

.service__tabs{
   max-width: 600px;
   margin-left: 30px;
}
.ac-container{
   position: relative;
   max-width: 600px;
   margin-left: 30px;
  
}
.ac-container div {
   margin-bottom: 10px;
}
.ac-container input {
   display: none;
}
.ac-container label{
   position: relative;
   display: block;
  border: 1px solid #e5e5e5;
  max-width: 600px;
  text-align: left;
  padding: 20px 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;

}
.accord-1::before,
.accord-2::before,
.accord-3::before{
   content: "";
   position: absolute;
   left: 12px;
   top: 12px;
   width: 32px;
   height: 32px;
   background-image: url(../images/icons/picture.svg);
   background-size: cover;
   background-repeat: no-repeat;
}
.accord-2::before{
   background-image: url(../images/icons/equalizer.svg);
}
.accord-3::before{
   background-image: url(../images/icons/web.svg);
}

.accord-1::after,
.accord-2::after,
.accord-3::after{
   content: "";
   position:absolute;
   top: 20px;
   right: 30px;
   width: 22px;
   height: 12px;
   background-image: url(../images/icons/arrow-bottom.svg);
   background-size: cover;
   background-repeat: no-repeat;
}
.accord-1:hover::after,
.accord-2:hover::after,
.accord-3:hover::after{
   transform: rotate(180deg);

}

.ac-cont{
   position: relative;
   height: 0px;
   z-index: 10;
   overflow: hidden;
   transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-cont p {
   padding-top: 3px;
   padding-left: 40px;
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-weight: 300;
   color: #999999;
   line-height: 24px;
   font-size: 15px;
   padding-right: 40px;
   border: 1px solid #e5e5e5;
   border-top: none;

}
.ac-container input:checked ~ article.ac-cont{
   height: 180px;
}

// end section service

// Start slider-quotes 

.slider-quotes{
   margin-bottom: 150px;
   padding-top: 68px;
   padding-bottom: 68px;
   background-color: #f8f8f8;

}
.quotes{
   position: relative;
   

}


.slide__inner{
   display: flex;
   justify-content: center;
}
.slide__picture{
   width: 140px;
   height: 140px;
   border: 3px solid #95e1d3;
   position: relative;
   &::before{
      content:"";
      position: absolute;
      width: 64px;
      height: 64px;
      background-image: url(../images/icons/speech.svg);
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

   }
   
}
.slide__box-quote{
   width: 760px;
   margin-left: 60px;
   text-align: left;


}
.one-quote{
   // padding-top: 10px;
   padding-bottom: 6px;
   font-family: 'Roboto', sans-serif;
   color: #999999;
   font-weight: 300;
   font-size: 24px;
   font-style: italic;
   line-height: 36px;

}
.quote-author{
   font-family: 'Kaushan Script', cursive;
   font-weight: 400;
   font-size: 24px;
   color: #333333;
   padding-left: 73px;
   position: relative;
   &::before{
      content: "";
      position: absolute;
      bottom: 9px;
      left: 32px;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 60px;
      background-color: #f38181;
   }


}

// slider arrows

.quotes .slick-arrow{
   position: absolute;
   top: 50%;
   z-index: 2;
   font-size: 0;
   width:20px;
   height:26px;
   outline: none;
   border: none;
   background-color: transparent;
   cursor: pointer;

} 
.slick-arrow.slick-prev{
   left: 0px;
   background-image: url(../images/icons/arrow-left.svg);
   background-repeat: no-repeat;
  
}
.slick-arrow.slick-next{
   right: 0px;
   background-image: url(../images/icons/arrow-right.svg);
   background-repeat: no-repeat;
}

// end slider-quotes

// start section team 

.team{
   background-color: #fff;
   padding-bottom: 115px;
}
.team__description{
   margin-bottom: 74px;

}
.team-pic__box{
   display: flex;
   justify-content: space-around;
   
}
.team-pic__inner {
   width: 380px;
   
}
.team__pic-bg {
   width: 100%;
   height: 470px;
   background-color: #95e1d3;
   margin-bottom: 30px;

}
.team__pic-one {
   position: relative;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   

}

.team__pic-one::before{
   content: "";
   position: absolute;
   bottom: 0px;
   right: 0px;
   width: 380px;
   height: 470px;
   background-color: #dc8175;
  background-color: #95e1d3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81)));
  background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
    z-index: 2;
    opacity: 0.6;
    visibility:hidden;
}

.team__pic-one:hover::before{
      visibility: visible;
}
.team__pic-one:hover{
   position: relative;
   right: 10px;
   bottom: 10px;
   .team__social {
      visibility: visible;
   }
}

.team__social{
   position: absolute;
   display: flex;
   text-align: center;
   margin: 0 auto;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
   visibility: hidden;
}
.team__social li{

   display: inline-block;
   width: 55px;
   height: 55px;
   background-color: #fce38a;
   transition: background-color 0.5s ;
   line-height: 57px;
   & + li{
      margin-left: -4px;
      border-left: 1px solid #f5b48e;
   }
   & a {
      text-decoration: none;
      position: relative;
   }
}
.team__social li:hover{
    background-color: #f38181;
    transition: background-color 0.5s ; 
}
.facebook a::after,
.twitter a::after,
.pinterest a::after,
.instagram a::after{
   content: "";
   position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
   background: url(../images/sprite/css_sprites.png);
}

.facebook a::after{
   width: 13px; height: 26px;
    background-position: 189px -12px;
    left: -7px;
    top: 13px;
    transition: background-position 0.5s linear;   
}
li:hover.facebook a::after{
   left: -7px;
   top: 13px;
   background-position:  189px -62px;
   transition: all 0.5s linear;
}
.twitter a::after{
   width: 26px;
    height: 38px;
    background-position: -65px 0;
    left: -13px;
    top: 3px;
    transition: background-position 0.5s linear;
}
li:hover.twitter a::after{
   left: -14px;
    top: 17px;
   background-position: -65px -65px;
   transition: all 0.5s linear;
}
.pinterest a::after{
   width: 21px;
   height: 40px;
   background-position: -119px 0;
   left: -12px;
   top: 3px;
   transition: background-position 0.5s linear;
}
li:hover.pinterest a::after{
   left: -12px;
    top: 15px;
    background-position: -119px -62px;
   transition: all 0.5s linear;
}
.instagram a::after{
   width: 26px;
    height: 38px;
    background-position: -169px 0;
    left: -13px;
    top: 5px;
    transition: background-position 0.5s linear;
}
 li:hover.instagram a::after{
   left: -13px;
    top: 14px;
   background-position: -170px -62px;
   transition: background-position 0.5s linear;
}
.team__name{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;
   margin-bottom: 14px;
}
.team__specialty{
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   color: #999999;
   font-size: 15px;
}
.clients {
   background-color: #f8f8f8;
   padding-top: 62px;
   padding-bottom: 57px;
}

.clients__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}


// start section WWD
.wwd{
   padding-top: 99px;
}
.gallery {
   margin-top: 98px;
   margin-bottom: 98px;
}
.gallery_wrap {
   display: flex;
}
.gallery__item {
   position: relative;
   max-width:25%;  
}
.gallery__item-one{
   max-width: 480px;
   height: auto;
}
.gallery__inner{
   position: relative;
   cursor: pointer;  
}
.gallery__inner img{
   max-width: 100%;
   width: 100%;
   display: block;
   height: auto;
}
.gallery__inner::after{
   content: "";
   position: absolute;
   top: 42%;
   left: 50%;
   width: 30px;
   height: 30px;
   background-image: url(../images/wwd/PICTURE.png);
   background-size: cover;
   background-repeat: no-repeat;
   transform: translateX(-50%);
   visibility: hidden;  
}
.gallery__inner p{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #fff;
    margin-top: 35px;
   text-transform: uppercase;
   display: block;
   width: 172px;
   color: #fff;
   visibility: hidden;
}
.gallery__inner span{
   position: absolute;
   top:50%;
   left: 50%;
   margin-top:55px;
   transform: translate(-50%, -50%);
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-size: 15px;
   font-weight: 300;
   line-height: 24px;
   display: block;
   width: 172px;
   color: #fff;
   visibility: hidden;
}
.gallery__inner::before{
   content: "";
   top: 0;
   left: 0;
    position: absolute;
   width: 100%;
   height: 100%;
   background-color: red;
   background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81)));
   background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
   background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
   visibility: hidden;
   opacity: .9;
}
.gallery__inner:hover::before, 
.gallery__inner:hover::after 
 {
  visibility: visible;
//   z-index: 5;
}
.gallery__inner:hover p ,
.gallery__inner:hover span{
   visibility: visible;
}

//slider
.wwd .slider-quotes{
   background-color: #fff;
   margin-bottom: 50px;
}
.wwd .wwd-slider-quotes{
   padding-top: 39px;
}
.wwd .wwd-slider-author{
   width: 210px;
   height: 210px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   &::before{
      content:"";
      position: absolute;
      width: 213px;
      height: 213px;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.wwd .wwd-slide__box-quote { 
   padding-top: 41px;
}

// end section WWD
  
// start section people 

.people{
   background-image: url(../images/people/people-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   padding-top: 110px;
}
.subtitle-people{
   margin-bottom: 80px;
}
.people-wrap{
   display: flex;
   justify-content: space-around;
}
.people-box__pic{
   max-width: 112px;
   width:112px;
   height: 112px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   top: 0;
   left: 0;
   z-index: 10;
   display: block;
   position: relative;
   margin-right: 26px;
}
.people-box{
 display: flex;
 justify-content: flex-start;
 margin-bottom: 58px;
 }
 .people-box__item{
    text-align: left;
 }
 .people-box__name{
    padding-top: 13px;
   margin-bottom: 13px;
   color: #333;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
 }
 .people-box__specialty{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #333;
    margin-bottom: 40px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      // transform: translate(-50%, -50%);
      height: 3px;
      width: 60px;
      background-color: #f38181;
    }
 }
 .people-box__feedback{
    max-width: 380px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999;
 }


// end section people 

// start section Blog 

.blog{
   padding-top: 110px;
   padding-bottom: 109px;
}
.blog-post__wrap{
   margin-top: 42px;
   display: flex;
   justify-content: space-between;
}
.blog-post__inner{
   max-width: 32%;
   text-align: left;
}
.blog-post__img{
   position: relative;
   width: 380px;
   height: 240px;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 17px;
}
.blog-post__date{
   position: absolute;
   padding:0;
   font-family: 'Montserrat', sans-serif;
   bottom: 10px;
   left: -10px;
   width: 60px;
   height: 70px;
   background-color: #95e1d3;
   font-size: 30px;
   color: #fff;
   font-weight: 700;
   display: block;
   padding-top: 12px;
   line-height: 30px;
   text-transform: uppercase;
   padding-bottom: 14px;
   text-align: center;
   & span{
      display: block;
      font-size: 15px;
      font-weight: 400;
      font-style: italic;
      font-family: 'Roboto' sans-serif;
      text-transform: none;
      line-height: 15px; 
   }
}
.blog-post__title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   text-transform: uppercase;
   color: #333;
   margin-bottom: 16px; 
}
.blog-post__text{
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #999;
   margin-bottom: 22px;
}
.blog-post__aside{
   border-top: 1px solid #e5e5e5;
   padding-top: 19px;
}
.blog-post__aside {
   display: flex;
}
.aside__views{
   margin-left: 18px;
   position: relative;
   &::before{
      content: "";
      position: absolute;
      background-image: url(../images/blog/VIEW.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 12px;
      bottom: 2px;
      left: -15px;
   }
   & span{
      padding-left: 8px;
   }
}
.aside__comments{
   margin-left: 20px;
   position: relative;
   &::before{
      content: "";
      position: absolute;
      background-image: url(../images/blog/comments.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 15px;
      bottom: 0;
      left: -12px;
   }
   & span{
      padding-left: 8px;
   }
}
//  section Blog 

// start section open-map

   .open-map{
      padding-top: 91px;
      background-image: url(../images/map/map-bg.jpg);
      background-position: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding-bottom: 35px;
   }
.map-subtitle{
   color: #f38181;
   position: relative;
   & a{
      text-decoration: none;
      color: #f38181;
   }
   &::after{
      bottom: 20px;
   }
   &::before{
      content: "";
      position: absolute;
      width: 20px;
      height: 26px;
      background-image: url(../images/blog/PIN.png);
      background-size: cover;
      background-repeat: no-repeat;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
   }
}

// end section open-map

//start section contact 
.contact{
   padding-top: 74px;
}
.contact-wrap{
   display: flex;
   justify-content: space-around;
   
}
.contact-wrap__inner{
   // flex: 33.333%;
   // margin-left: 15px;
   max-width: 33%;
}
.contact-wrap__logo{
   font-family: 'Montserrat', sans-serif;
   font-size: 46px;
   color: #cccccc;
   font-weight: 700;
   margin-bottom: 40px;
}
.contact-wrap__text{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   color: #999999;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 46px;
   max-width: 462px;
}
.contact-wrap__followers{
 font-family: 'Montserrat', sans-serif;
 color: #333333;
 font-size: 14px;
 font-weight: 400;
 padding-bottom: 19px;
 margin-bottom: 19px;
 border-bottom: 1px solid #e5e5e5; 
}
.contact-wrap__followers span {
   font-size: 18px;
   font-weight: 700;
}
.contact-wrap__social{
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   font-weight: 300;
   margin-bottom: 38px;
   display:flex;
   & ul{
      margin-left: 19px;
   }


}
.contact-wrap__social ul li{
   display: inline-block;
   width: 16px;
   height: 16px;

}
.contact-wrap__social ul li + li{
   margin-left: 12px;
}

.contact-wrap__social ul li a{
   text-decoration: none;
   position: relative;
   &::before{
      content: "";
      // position: absolute;
      display: block;
      // background-image:url(../images/contact/instagram.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
   }

}
.contact-wrap__social .facebook::before{
   background-image:url(../images/contact/facebook.png);
   background-position: 0 0;
   bottom: 0;
   right: 0;
   width: 8px;
   height: 16px;
}
.contact-wrap__social .twitter::before{
   background-image:url(../images/contact/twitter.png);
   // background-position: 0px 0;
    bottom: -1px;
    right: 3px;
    width: 16px;
    height: 14px;
}
.contact-wrap__social .instagram::before{
   background-image:url(../images/contact/instagram.png);
   background-position: 0px 0;
    bottom: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
}
.contact-wrap__social .pinterest::before{
   background-image:url(../images/contact/pinterest.png);
   background-position: 0px 0;
    bottom: 0px;
    right: 0px;
    width: 13px;
    height: 16px;
}
.contact-wrap__social .google-plus::before{
   background-image:url(../images/contact/google-plus.png);
   background-position: 0px 0;
    bottom: -1px;
    right: 0px;
    width: 16px;
    height: 14px;
}
.contact-wrap__social .youtube::before{
   background-image:url(../images/contact/youtube.png);
   background-position: 0px 0;
    bottom: -2px;
    right: 0px;
    width: 16px;
    height: 12px;
}
.contact-wrap__social .dribbble::before{
   background-image:url(../images/contact/dribbble.png);
   background-position: 0px 0;
    bottom: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
}
.contact-wrap__social .tumblr::before{
   background-image:url(../images/contact/tumblr.png);
   background-position: 0px 0;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 16px;
}
.contact-wrap__subscribe form input{
outline: none;
// height: 39px;
width: 230px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 18px;
padding-right: 18px;
border: 1px solid #e7e7e7;
font-family: 'Roboto', sans-serif;
font-style: italic;
color: #cccccc;
font-size: 15px;
line-height: 24px;
margin-right: 0;
display: inline-block;
}
.contact-wrap__subscribe form button{
   padding: 20px 34px 20px 34px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 14px;
   color: #fff;
   background-color: #95e1d3;
   outline: none;
   border: none;
   margin-left: -4px;
   display: inline-block;
   cursor: pointer;
}
.contact-wrap__title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 14px;
   color: #333;
   margin-bottom: 38px;
}
.contact-wrap__latest-box{
   display: flex;
}
.latest-box__img{
   margin-right: 20px;
   margin-bottom: 30px;
}

.latest-box__title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 18px;
   color: #333;
   max-width: 202px;
   margin-bottom: 9px;
   & a{
      text-decoration: none;
   }
}
.latest-box__date{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-style: italic;
   font-size: 13px;
   line-height: 24px;
   color: #999;
}
.images__box{
   max-width: 272px;
   width: 272px;
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 19px;
}
.images__box-one{
   max-width: 88px;
   max-height: 88px;
   margin: 1px;
}
.view-more-fotos {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #333;
   & a{
      text-decoration: none;
   }
}
.copyright{
   margin-top: 66px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: #333;
   padding: 24px 0;
   border-top: 1px solid #e5e5e5;
   & a{
      text-decoration: none;
   }
   & span{
      color: #f38181;
   }
}
//end section contact 












@import '_media';
